.toolbar{
  font-size: 100px;
  font-weight: 100;
  height: 150px;
  justify-content: center;
  color: white;
  background-color: rgb(255, 40, 148);
}

*{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: x-large
}

