.description{
  margin-left: 50px;
  margin-right: 50px;
  text-align: justify;
}

.cardBreed{
  padding: 20px;
  margin-right: 30px;
  width: 1250px;
}

.titleText{
  font-size: x-large;
  font-weight: 900;
  font-family: Roboto, "Helvetica Neue", sans-serif
}

.titleTableText{
  padding-top: 10px;
  padding-bottom: 20px;
  font-size: x-large;
  font-weight: 900;
  font-family: Roboto, "Helvetica Neue", sans-serif
}

.table{
  padding: 30px;
  border-radius: 4px;
  width: 400px;
}

.description2{
  margin-left: 135px;
  margin-right: 135px;
}

.sizeDogCard{
  padding: 44px;
  margin-right: 30px;
  margin-bottom: 35px;
  border-radius: 8px;
}

.furTypeDogCard{
  padding: 40px;
  text-align: justify;
  border-radius: 8px;
}

.furTitleText{
  font-size: x-large;
  font-weight: 900;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  padding-top: 10px;
}

.imageSizePug{
  background-image: "/assets/detail.png";
  height: 200px;
  padding-top: 15px;
}

.sizeDogTitleText{
  font-size: x-large;
  font-weight: 900;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  padding-top: 40px;
}
